@import "vars";
@import "vendor/reset.scss";


html{
    font-size: 62.5%;
}

body {
    background-color: #151515;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;

    &.no-scroll {
        overflow: hidden;
    }
}

*,
*:before,
*:after{
   box-sizing: border-box 
}

a{
    color: inherit;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.page {
    margin: 0;
    padding: 0;
}

// Blocks
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/main";
@import "blocks/container";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import  "blocks/work";
@import "blocks/tags";
@import "blocks/account";
@import "blocks/modal";

