.account{
    display: flex;

    @include breakpoint($mobile) {
        flex-direction: column;
    }

    &__form{
        width: 34rem;

        @include breakpoint($mobile) {
            order: 2;
        }
    }

    &__avatar{
        flex-grow: 1;
        padding-left: 11rem;

        @include breakpoint($mobile) {
            order: 1;
            padding-left: 0;
            margin-bottom: 1rem;
        }
        
        img{
            margin-bottom: 1.5rem;
            display: block;
            width: 150px;
            height: 150px;
        }
    }

    &__file{
        font-size: 1.4rem;
        color: $blue;

        input{
            display: none;
        }

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}