.search {
    max-width: 21rem;
    width: 100%;
    background-color: $primary;

    &__input{
        display: block;
        width: 100%;
        padding: 1.2rem 2rem; 
        background: transparent;
        border:none;

        font-family: inherit;
        font-size: 1.2rem;
        color: $white;

        &::placeholder{
            color: rgba($white, .4);
        }

        @include breakpoint($tablet) {
            font-size: 1.6rem;
            padding: .9rem 2rem;
            height: 4rem;
        }
    }
}