.account{
    display: flex;
}

.account__form{
    width: 340rem;
}

.account__avatar{
    flex-grow: 1;
    padding-left: 11rem;
    
    img{
        margin-bottom: 1.5rem;
        display: block;
        width: 150px;
        height: 150px;
    }
}

.account__file{
    font-size: 1.4rem;
    color: $blue;

    input{
        display: none;
    }

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}