.nav {
    @include breakpoint($tablet) {
        display: none;
    }

    &--mobile {
        display: block;

        @include breakpoint($tablet) {
            margin: 3rem 0;
        }
    }


    &__list{
        display: flex;

        @include breakpoint($tablet) {
            flex-direction: column;
        }
    }

    &__item{
        position: relative;

        &:hover{
            .nav__link{
                background-color: $blue;
            }

            > .subnav{
                display: block;
            }
        }

        @include breakpoint($tablet) {

            &:hover {
                .nav__link{
                    background: none;
                }
            }
            
        }
    }

    &__link{
        display: block;
        padding: 1.35rem;
        font-size: 1.1rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        transition: background-color .2s linear;

        &:hover{
            background-color: $blue;
            text-decoration: none;
        }

        &.has-subnav{
            position: relative;
            padding-right: 3.5rem;
            
            &:after{
                content: "";
                display: block;
                margin-top: 2px;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: $white transparent transparent transparent;

                position: absolute;
                top: 50%;
                right: 1.35rem;
                transform: translateY(-50%);
            }
        }

        @include breakpoint($tablet) {
            padding-left: 2rem;
            padding-right: 0;
            font-size: 1.4rem;

            &:hover{
                background: none;  
                text-decoration: none;
            }
        }
    }
}