<div class="modal">
    <div class="modal__content modal__content--share">
        <button class="modal__close" type="button">
            <img src="../assets/images/icons/close.svg" alt="Close">
        </button>

        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="https://www.instagram.com/dima.kolosovskyi/" target="_blank">
                    <img src="../assets/images/icons/instagram.png" alt="Instagram">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="https://twitter.com/d_kolosovskyi" target="_blank">
                    <img src="../assets/images/icons/twitter.png" alt="Twitter">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="https://www.facebook.com/dmitro.kolosovskyi.3" target="_blank">
                    <img src="../assets/images/icons/facebook.png" alt="Facebook">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="" target="_blank">
                    <img src="../assets/images/icons/copy.png" alt="Copy">
                </a>
            </li>
        </ul>
    </div>
</div>