<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="../assets/images/sidebar/avatar.jpg" alt="">
            <div class="profile__name">Дмитро Колосовський</div>
            <div class="profile__prof">блог web-розробника</div>
            
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/dima.kolosovskyi/" target="_blank">
                        <img src="../assets/images/sidebar/social/instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://twitter.com/d_kolosovskyi" target="_blank">
                        <img src="../assets/images/sidebar/social/twitter.svg" alt="Twitter">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.facebook.com/dmitro.kolosovskyi.3" target="_blank">
                        <img src="../assets/images/sidebar/social/facebook.svg" alt="Facebook">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere placeat illo, reiciendis, blanditiis impedit excepturi corporis itaque numquam, id quis ipsam nobis vitae distinctio dolorem et dolor officiis. Modi, optio?</p>  
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="works.html"> Мої роботи </a>
        <button type="button" class="btn btn--blue">Написати мені</button>
    </div>
</aside>